
/* header */

/*--/banner --*/

.main-banner {
    background: url(../images/banner.jpg) no-repeat center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
    background-size: cover;
    position: relative;
    min-height: 50em;
}

.main-banner.inner {
    background: url(../images/banner.jpg) no-repeat center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
    background-size: cover;
    position: relative;
    min-height: 20em;
}

.bg1 {
    background-color: rgba(0, 0, 0, 0);
    margin-top: 0;
    background-image: url('../single-post-pic.jpg');
}

/*-- place holder --*/

.banner-form ::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: #ccc;
}

.banner-form ::-moz-placeholder {
    /* Firefox 19+ */
    color: #ccc;
}

.banner-form :-ms-input-placeholder {
    /* IE 10+ */
    color: #ccc;
}

.banner-form :-moz-placeholder {
    /* Firefox 18- */
    color: #ccc;
}

.banner-info {
    padding: 16em 0 0em 3em;
    width: 32%;
}

.banner-info h3 {
    font-size: 3.5em;
    letter-spacing: 2px;
    color: #fff;
    text-transform: uppercase;
    text-shadow: 2px 5px 3px rgba(0, 0, 0, 0.06);
}

.banner-info p {
    color: #fff;
    font-size: 0.8em;
    letter-spacing: 2px;
    font-weight: 400;
    text-transform: uppercase;
    margin: 0;
    text-shadow: 2px 5px 3px rgba(0, 0, 0, 0.06);
}

.ban-buttons a {
    background: #fff;
    padding: 11px 31px;
    font-size: 13px;
    letter-spacing: 1px;
    color: #ff4c4c;
    border-radius: 0px;
    display: inline-block;
    box-shadow: 0 12px 60px rgba(0, 0, 0, .2);
    -webkit-box-shadow: 0 12px 60px rgba(0, 0, 0, .2);
    -o-box-shadow: 0 12px 60px rgba(0, 0, 0, .2);
    -moz-box-shadow: 0 12px 60px rgba(0, 0, 0, .2);
    -ms-box-shadow: 0 12px 60px rgba(0, 0, 0, .2);
    border: #fff;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
    font-weight: 600;
    text-transform: uppercase;
}

.ban-buttons a.active,
.ban-buttons a:hover {
    opacity: 0.8;
}

a.btn.active {
    background: #10adfb;
    color: #fff;
    border: #10adfb;
}

/*-- //place holder --*/

/*-- //banner --*/

/*-- features --*/
.hand-crafted {
    background: #f7f7f7;
}

h3.tittle {
    font-size: 2.5em;
    letter-spacing: 2px;
    color: #292a2b;
    text-transform: uppercase;
    margin-bottom: 1em;
}

.sub-tittle {
    font-size: 0.3em;
    color: #919aa0;
    letter-spacing: 2px;
    display: block;
    text-transform: uppercase;
}

.events-info .sub-tittle {
    font-size: 0.7em;
}

ul.events-icons.new-inf img {
    border-radius: 50%;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -o-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.15);
}

.feature-grids h3,
.bottom-gd.fea h3 {
    color: #05c46b;
    letter-spacing: 1px;
    margin-top: 0em;
    font-size: 1.4em;
}

.feature-grids p {
    margin: 0;
}

.feature-grids span {
    font-size: 1.5em;
    text-align: center;
    color: #ff4c4c;
    line-height: 3em;
}

.bottom-gd,
.bottom-gd2-active {
    background: #f8f9fa;
    transition: 2s all;
    -webkit-transition: 2s all;
    -moz-transition: 2s all;
    -ms-transition: 2s all;
    -o-transition: 2s all;
    box-shadow: 7px 7px 10px 0 rgba(76, 110, 245, .1);
    padding: 2em 0;
}

.bottom-gd2-active {
    background: #ff4c4c;
    transition: 2s all;
    -webkit-transition: 2s all;
    -moz-transition: 2s all;
    -ms-transition: 2s all;
    -o-transition: 2s all;
}

.bottom-gd:hover.f1 span,
.bottom-gd2-active span {
    color: #fff;
}

.bottom-gd2-active p {
    color: #fff;
}

.bottom-gd2-active h3 {
    color: #fff;
}

.feature-grids h3,
.bottom-gd.fea h3 {
    font-size: 0.9em;
    color: #1e272e;
    text-transform: uppercase;
    font-weight: 600;
}

ul.tic-info li span {
    color: #ff4c4c;
}

ul.tic-info li {
    color: #566773;
    font-size: 0.9em;
    line-height: 2.2em;
    letter-spacing: 1px;
}

.effect-w3 {
    padding: 6px;
    background: #f0f0f1;
}

.bottom-gd.row {
    margin: 0;
}

/*-- //features --*/
/*-- /New-Arrivals --*/
.product-shoe-info {
    padding: 0 0 15px 0;
    border: 1px solid #e4e4e4;
}

.item-info-product h4 a {
    color: #080808;
    font-size: 15px;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: 700;
}

span.money {
    font-size: 1em;
    font-weight: 800;
    color: #ff4c4c;
    letter-spacing: 2px;
}

.product_price {
    margin: 1em 0 0 0;
    padding: 1em 0 0 0;
    border-top: 1px solid #ddd;
}

ul.stars li {
    display: inline-block;
}

ul.stars li a span {
    font-size: 0.7em;
    color: #6a6c6d;
    margin: 0 0.2em;
}

ul.stars li a span:hover {
    opacity: 0.8;
}

span.product-new-top {
    background: #414b52;
    font-size: 0.8em;
    text-transform: uppercase;
    padding: 0.3em 1.2em;
    color: #fff;
}

/* Checkbox stars */
.rating {
    overflow: hidden;
    vertical-align: bottom;
    display: inline-block;
    width: 155px;
    height: 30px;
}

.rating > input {
    opacity: 0;
    margin-right: -100%;
}

.rating > label {
    position: relative;
    display: block;
    float: right;
    background: url('../images/star-off-big.png');
    background-size: 30px 30px;
}

.rating > label:before {
    display: block;
    opacity: 0;
    content: '';
    width: 30px;
    height: 30px;
    background: url('../images/star-on-big.png');
    background-size: 30px 30px;
    transition: opacity 0.2s linear;
}

.rating > label:hover:before, .rating > label:hover ~ label:before, .rating:not(:hover) > :checked ~ label:before {
    opacity: 1;
}

/* //Checkbox stars */

/*-- //New-Arrivals --*/

section#brands {
    background: #1e272e;
}

.brand-items a span {
    color: #757a7d;
    font-size: 2.5em;
}

/*--about-grids--*/
.service-content {
    margin-left: 1em;
}

.icon span {
    width: 60px;
    height: 60px;
    color: #007bff;
    line-height: 60px;
    text-align: center;
    font-size: 22px;
    transition: all 1s;
    -moz-transition: all 1s;
    -webkit-transition: all 1s;
    -o-transition: all 1s;
}

.service-content h4 {
    font-size: 1.15em;
    line-height: 1.75em;
    font-weight: 800;
    text-transform: uppercase;
    color: #333;
    letter-spacing: 2px;
    margin-bottom: 0.5em;
}

